<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%=link_to 'Pinterest',root_path, class:"navbar-brand"%>
    </div>
        
	  <ul class="nav navbar-nav navbar-right">
	    <li><%=link_to 'About us',home_about_path%></li>
	    <li><%=link_to 'FAQ us',home_faq_path%></li>
	  </ul>
  </div>
</nav>