<div class="jumbotron">
<div class="page-header">
<h1>The Image Sharing Website</h1>
</div>
<p> To start uploading images, you have to <strong class="info"><%= link_to 'Login', new_user_session_path %></strong> or <strong class="info"><%= link_to 'Register',  new_user_registration_path %></strong> </p>
</div>